
doctype html 

html
 head     
   link(rel="stylesheet",href="/stylesheet/style.css")
body 
include ./navbar
div.nav
     
     
    div 
     img(src="https://th.bing.com/th/id/R.69f6b753a6386a2bd9eb39935c805326?rik=meUydr%2bWghQYPg&pid=ImgRaw&r=0",alt="js",width="200",height="200")
     h1 Start with scripting langage now 
     button Start learning
    div
     img(src="https://res.cloudinary.com/practicaldev/image/fetch/s--3zWuwYa3--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/pdib9r9rk5j1m7oala1p.png",alt="reactjs",width="200",height="200")
     h1 Make your first app zith React js
     button Start learning
     div 
      img(src="https://cdn.searchenginejournal.com/wp-content/uploads/2019/04/the-seo-guide-to-angular.png",alt="angular",width="200",height="200")
      h1 Make your first app with angular
      button Start learning
